<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>qlhoatdong2</display-name>
  <welcome-file-list>
    <welcome-file>redirect.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CharactorEncodingFilter</filter-name>
    <filter-class>utils.CharactorEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharactorEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LoginedFilter</filter-name>
    <filter-class>utils/LoginedFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginedFilter</filter-name>
    <url-pattern>*.htm</url-pattern>
  </filter-mapping>
</web-app>