#login {
	background-color: #DFF0D8;
	padding-top: 20pt;
	border: solid 1px;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
#content{
	height: auto;
	border-left: solid 1px gray;
}

/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: #DFF0D8;
	height: 100%;
}

/* Set black background color, white text and some padding */
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}

#title{
	font-size: 30pt;
	color: #FFF;
	margin-top: 5pt;	
}

#banner{
	background-color: #555555;
	padding: 5pt;
}

#title2{
	color: #FFF;
	font-size: 15pt;
}

/*#content{
	background-color: #F1F5F8;
	margin-top: 5pt;
	margin-bottom: 5pt;
	border: solid 1px gray;
	height: auto;
	
}*/

#wellcome, #envent{
	margin-top: 10pt;
	width: 100%;
	height: auto;
	border: solid 1px gray;
	padding: 5pt;
	background-color: #F1F5F8
}

#OnlCal, #stuCal{
	margin: 10pt 11pt;
	width: 97%;
	height: auto;
	border: solid 1px gray;
	padding: 5pt;
	background-color: #F1F5F8
}
